canvas { 
    width: 100%; 
    height: 100%; 
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

.renderArea{
    width: 100%;
    height: 100%;
}

.mapBox{
    width: 300px;
    height: 70%;
    background-color: #00001F;
    position: absolute;
    left: 0px;
    top: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-top-width: 0px;
}

.map {
    width: 100%;    
    width: 100%;
}

.menuOverFlow{
    height: 200px !important;
}

.chkSynchronize{
    position: absolute;
    left: 50px;
}

.custom-mouse-position{
    color: white;
}

.showMapButton{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 65px;
    height: 65px;
    padding: none !important;
    margin: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.profileContainer {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    background-color: black;
    opacity: 0.7;
}

.toolbox  {
    min-width: 350px;
    background-color: #515151;
    padding: 0.5em;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.95;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray
}

/* Jquery-UI trick for toggle button (checkbox) without text*/
.chkBoxDefault{
    width: 20px !important;
    height: 20px !important;
}

#minimizeButton {
    position: absolute;
    right: 5px;
    top: 0px;
    cursor: pointer; 
}

#minimizeMapButton {
    position: absolute;
    right: 5px;
    top: 0px;
    cursor: pointer; 
}

#closeProfileContainer {
    position: absolute;
    right: 3px;
    top: 0px;
    cursor: pointer;
}

#resetProfileZoom {
    position: absolute;
    right: 17px;
    top: 0px;
    cursor: pointer;
}

#profileZoomIn {
    position: absolute;
    right: 31px;
    top: 0px;
    cursor: pointer;
}

#profileZoomOut {
    position: absolute;
    right: 45px;
    top: 0px;
    cursor: pointer;
}

#showProfileButton {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 3px;
    bottom: 3px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#moveDiv { 
    height: 12px;
    width: 80%;
    cursor: move;
}

#dragMap {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 22px;
    opacity: 0.5;
    background-color: gray;
    width: 100%;
    z-index: 10001;
}

#moveSpeedCursor {
    margin-top: 10px;
}

#profileWidthCursor {
    margin-top: 10px;
}

#statDiv {
    color: red;
}

/* gui table*/
.guiTable{
    font-size: 1em;
    width: 100%;
    color: white !important;
}

.leftCol{
    width: 80px;
}

.middleCol{
    width: 30px;
}

select {
    width: 100px !important;
}

/*Coordinates display*/
.lblCoordinates {
    position: absolute;
    right: 600px;
    top: 10px;
    width: 300px;
    height: 25px;
    color: #CFCFCF;
    font-size: 12px;
}

/*Toolbox default style*/
.inputDefault{
    width: 25px;
    height: 15px;
    color: black;
    background-color: gray;
    border: none;
    text-align: center;
    opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.tools{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.info{
    color: #CFCFCF;
    position: absolute;
    right: 500px;
    top: 10px;
    font-size: 12px;
}

a:hover, a:visited, a:link, a:active{
    color: #ccccff;
    text-decoration: none;
}
/* Customize OL */

.ol-zoom {
    top: 30px !important;
}

.ol-zoom-out{
    top: 40px !important;
}

.ol-zoom-extent {
    top: 65px !important;
}

/****
Chart style
*/

.axis {
  font: 10px sans-serif;
  color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

/* .x.axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
 */
circle, .line {
    fill: none;
    /* stroke: steelblue; */
    stroke-width: 2px; 
}
circle {
    fill: white;
}
circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e;    
}
circle:hover {
    fill: #ff7f0e;
    stroke: red; 
    stroke-width:5px;
}
circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; 
}

