<html lang="en">

<head>
</head>
<body>
    <p><b>Potree Viewer error message</b></p>
    <p>La version de votre navigateur n'est pas supportée ou ne supporte pas WebGL, merci d'utiliser Firefox 37+ ou Chrome 42+</p>
    <p>Pour plus d'information, suivre ce <a href="https://get.webgl.org/">lien</a>
    <p>Your browser version is not supported or does not support WebGL, please use Firefox 37+ or Chrome 42+</p>
    <p>For more informations please check that <a href="https://get.webgl.org/">link</a>

<body>